@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* shared style  */
.display-flex {
    display: flex;
}

/* dark-01 */
.dark {
    color: #131313;
}

/* dark-02 */
.text-grey {
    color: #424242;
}

/* dark-03 */
.text-light-grey {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

main>section {
    margin: 120px 0;
}


/* header style  */


/* navbar related style  */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 2.8rem;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-item a {
    text-decoration: none;
}

.navbar,
.banner,
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style  */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
}

.btn-primary {
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
}

.banner-image {
    max-width: 100%;
    padding-bottom: 2.81rem;
}

/* team feature related style  */
.teams {
    align-items: center;
}

.team-images {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);


}

.team-feature {
    margin-left: 4.56rem;
    max-width: 530px;
}

.feature-title {
    font-size: 2.81rem;
    margin-bottom: 1.5rem;
}

.feature-content {
    color: #727272;
    margin-bottom: 2rem;

}

.quick-list {
    font-weight: 500;
}

.feature {
    color: #FF900E;
    font-weight: 700;
}

.dark {
    font-weight: 700;
}

/* some fact styles  */

.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4.75rem;
}

/* .fact img{
    height: 2.81rem;
    width: 2.25rem;
} */
 .fact{
    padding: 2.5rem;
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
 }

.fact h3{
    font-size: 2.8rem;
    color: #131313;
    margin-bottom: .31rem;
    margin-top: .62rem;
}

.fact .fact-para{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 700;
    
   
}

.section-title{
    font-size: 2.81rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.section-para{
    margin-bottom: 3.12rem;
    max-width: 32rem;
    line-height: 1.62rem;
    color: #727272;
}

/* sponsor info styles  */

.sponsors-info{
    max-width: 33.75rem;
    margin: 0 auto;
    text-align: center;
}
.sponsor-container{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(5, 1fr);
}

/* responsive style for mobile device  */
@media screen and (max-width: 576px) {

    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }

    .team-images {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-feature {
        margin-left: 1rem;
    }

    .fact-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .sponsor-container{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}

/* responsive style for medium device  */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
    }

    .team-feature {
        margin: 1.25rem auto;

    }

    .fact-container, .sponsor-container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}